<%- include("templates/header") %>
<style>
  img {
    max-height: 200px;
    max-width: 200px;
  }
</style>
<h1 class="text-center mt-5">Welcome to the Member's Only Zone, <%- req.session.name %></h1>
<div class="row mb-3 text-center mt-5">
  <div class="col-md-4 themed-grid-col">
    <img src="/<%- images[0] %>" class="img-fluid custom-image" />
  </div>
  <div class="col-md-4 themed-grid-col">
    <img src="/<%- images[1] %>" class="img-fluid custom-image" />
  </div>
  <div class="col-md-4 themed-grid-col">          
    <img src="/<%- images[2] %>" class="img-fluid custom-image" />
  </div>
</div>
<div class="text-center mt-4">
  <a href="/logout"><button class="btn btn-success">Signout</button></a>
  <a href="/"><button class="btn btn-outline-secondary">Home</button></a>
</div>
<%- include("templates/footer") %>